@charset "utf-8";

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.container { padding:0px; width:640px; position:relative; }
.element .col2-3 {width:620px; height:387px; margin:0; float:none; }
.element .col1-3.white-right {width:620px; height:auto; margin:0; float:none; padding-bottom:80px; }
.col1-1 {width:620px; height:auto; }
#options li a {font-size:18px; padding:8px 10px; }

}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 767px) {

.container { padding:0px; width:320px; position:relative; }
.col2-3 { width:300px; height:auto; margin:10px; float:left;}
.element .col2-3 {width:300px; height:187px; margin:0; float:none; }
.element .col1-3.white-right, .element .col1-3.white-right2 {width:300px; height:400px; margin:0; float:none;}
.element .col1-3.connect {width:300px; height:auto; float:none; }
.col1-1 {width:300px; height:auto; }
.about_exp_info p {padding-left:40px;}
.contactform {height:440px;}

.about_par_container {width:300px;}
.blog_gra_images {padding:0 0 20px 0;}

h1#logo { position:relative; float:left; margin-top:29px; margin-left:10px; margin-bottom:30px; z-index:1 }
#nav-button {display:block; background:#11191f; float:right; padding:40px 10px 30px 30px; text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25); width:26px; margin:0 auto; margin-right:10px; cursor:pointer; }
.nav-bar {background-color:#f5f5f5; border-radius:1px; box-shadow:0 1px 0 rgba(0, 0, 0, 0.25); display:block; width:25px; height:3px; margin:3px auto; }
#options { display:none;}
#options ul { padding-top:0px; }
#options li { float:none; }
#options li a { border-bottom:1px solid #000; width:240px; padding:10px 20px; }
#options li a:hover, #options li a:focus {background:#21292f; }
ul#filters { background:#11191f; margin:0 10px; width:300px;}

.cs-element {padding:0; width:100px;}
.cs-feedback {width:100px;}
.cs-text {padding:0; margin-top:-2px;}
.cs-button {width:120px;}
.button {width:110px;}

}