@charset "utf-8";
/* CSS Document */

/* =Clearfix
--------------------------------------------------------------------------------------------------------*/
.clear { clear: both; }
.clearfix:after { content: "."; display:block; height:0; clear:both; visibility:hidden; }/* ----- clear fix for floats ----- */
.clearfix { display:inline-block; }
* html .clearfix { height:1%; }/* hides clearfix from IE-mac */
.clearfix { display:block; }/* end hide from IE-mac */
.alignleft { float:left; }
.alignright { float:right; }
.aligncenter { margin:auto; display:block; }
.alignnone { clear:both; font-size:0; line-height:0; margin:0; padding:0; border:0; height:0; width:0; }
.centered { text-align:center; }
/* End Clearfix
--------------------------------------------------------------------------------------------------------*/

/* =Custom
--------------------------------------------------------------------------------------------------------*/

.projectoverview_property { text-transform: uppercase; font-weight:bold; color: #27558f; font-size: 11px; font-style: normal; font-family:'Roboto', sans-serif; }
.projectoverview_value { font-weight:bold; }
td.noborder { border-style: hidden; }
hr {background-color: #000; border: none; color: #2b2b2b; height: 1px; margin-top:20px; margin-left:40px; margin-right:40px;}

.subcontainer {overflow-y:auto; overflow-x:hidden;}

/* End Custom
--------------------------------------------------------------------------------------------------------*/

/* =Education
--------------------------------------------------------------------------------------------------------*/

.about_container {height:130px; width:300px; float:left; padding-right:100px;}
.about_edu_logo {height:100px; width:100px; padding:20px 0 0 40px; float: left; text-align:right}
.about_edu_logo img {width:100px;}
.about_edu_date {color: #27558f; font-size: 12px; font-weight:bold; margin-top: 6px;}
.about_edu_courses {float:left; width:280px; height:380px; }
h4.about_edu_study {padding:3px 40px 0px 40px;  font-size:16px; margin-top:0px;}
h5.about_edu_school {padding:3px 40px 0px 40px; font-weight:normal; margin-top:6px; line-height:19px;}
h5.about_edu_cgpa {padding:3px 40px 0px 40px; font-weight:bold; font-size: 13px; margin-top:1px;}

.about_par_container {width:450px; vertical-align:middle; float:left; padding-bottom:20px; padding-top:20px;}
h4.about_par_title {padding:6px 40px 0px 40px;  font-size:16px;}
h4.about_par_text {padding:3px 40px 0px 40px;  font-size:16px;}


/* End Education
--------------------------------------------------------------------------------------------------------*/

/* =Experience
--------------------------------------------------------------------------------------------------------*/

.about_exp_logo {height:130px; width:180px; float: left; text-align:right}
.about_exp_logo img {width:138px; margin-top:25px;}
.about_exp_date {color: #4970a0; font-size: 12px; font-weight:bold; margin-top: 5px;}
.about_exp_info {font-weight:normal; float:left; width:100%;}
.about_exp_info p {padding:0px 40px 15px 40px; font-size:14px;}

.about_logo {height:130px; width:300px; float: left; padding-bottom:6px;}
.about_logo img {width:160px; margin: 14px 0px 4px 32px;}

/* End Experience
--------------------------------------------------------------------------------------------------------*/


/* =Preloader
--------------------------------------------------------------------------------------------------------*/
#preloader { position:absolute; top:0; left:0; right:0; bottom:0; background-color:#000; z-index:99; }
#status { width:200px; height:200px; position:absolute; left:50%; top:50vh; background-image:url(../images/icons/ajax-loader.gif); background-repeat:no-repeat; background-position:center; margin:-100px 0 0 -100px;}
/* End Preloader
--------------------------------------------------------------------------------------------------------*/


/* =Typography
--------------------------------------------------------------------------------------------------------*/
html {overflow: -moz-scrollbars-vertical; overflow-y: scroll; }
body { font: 14px 'Roboto', sans-serif; color:#444; background:#0c141a; }
strong { font-weight:bold; }
a, a > * {-webkit-transition: color 0.2s; -moz-transition: color 0.2s; -o-transition: color 0.2s; transition: color 0.2s;}
p { line-height:1.4; font-style:normal; padding:14px 40px 0 40px; }
p.small {font-size:12px;}
p.blockquote { font-family: 'Roboto', sans-serif; font-style:italic; font-weight:bold; padding:14px 40px 6px 40px; clear:both }
.blockquote span {font: 11px Lato, 'Roboto', sans-serif; color:#8d8d8d; padding-top:5px; text-transform:uppercase; display:block; letter-spacing:1px; }
a {text-decoration:none; color:#333;}
a:hover { text-decoration:none; color:#333; }
span.arrow {font:13px 'Roboto', sans-serif; }
input, textarea, select { padding:6px 4px 4px 6px; width:210px; height:18px; font-family:'Roboto', sans-serif; font-size:15px; border:1px solid #2b2b2b;  -webkit-transition: all 0.2s ease 0s; -moz-transition: all 0.2s ease 0s; -o-transition: all 0.2s ease 0s; transition: all 0.2s ease 0s; float:none; display:block;}
/* End Typography
--------------------------------------------------------------------------------------------------------*/


/* =Headings
--------------------------------------------------------------------------------------------------------*/
h1#logo { position:relative; float:left; margin-top:30px; margin-left:10px; margin-bottom:30px; width:180px; height:45px; z-index:1 }
h1#logo a { display:block; background:url(../images/icons/bg-logo.png) no-repeat; background-size:180px 45px; width:180px; height:45px; text-indent:-9999px; }
h2, h3, h4 { line-height:1.3; font-family:'Roboto', sans-serif; }
h2 { font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif; letter-spacing:1px; font-size:28px; font-weight:700; color:#2b2b2b; margin:0px 40px 5px 40px; padding-bottom:18px; padding-top:28px; text-transform:uppercase; border-bottom:1px solid #2b2b2b; display:block; text-decoration:none;}
h3, h4 {font-size:19px; font-weight:700; padding:14px 40px 0 40px; margin-bottom:-6px; }
h3 {padding-top:18px; padding-bottom:6px; color:#333;}
/* End Headings
--------------------------------------------------------------------------------------------------------*/


/* =Main Content
--------------------------------------------------------------------------------------------------------*/
#wrapper { margin-top:0px; width:100%; background:#11191f; position:relative; z-index:29; margin:0 auto; margin-bottom:20px; }
.container { padding:0px; width:960px; position:relative; margin:0 auto;}

.col1-1 { width:940px; margin:10px; height:400px; float:left; background:white; }
.col1-3 { width:300px; height:400px; margin:10px; float:left; background:white;}
.element .col1-3 {width:300px; height:400px; margin:0; float:left; }
.element .col1-3.connect {width:320px; height:400px; margin:0; float:left; }

.col2-3 { width:620px; height:400px; margin:10px; float:left; background:white;}
.element .col2-3 {width:640px; height:400px; margin:0; }
.col2-3.det, .col2-3.auto, .col1-3.auto, .col1-1.auto {height:auto; }

.col-text {background:#fff; position:relative; }

.det .col-text {height:auto; padding-bottom:40px; }
.bottom {position:absolute; bottom:0px; padding-bottom:36px; }
.break { height:20px; position:relative; }
.images { display:block; position:relative; width:auto;}
.overflow {overflow:hidden; }
/* =End Main Content
--------------------------------------------------------------------------------------------------------*/

/* =Image Hover
--------------------------------------------------------------------------------------------------------*/
.images img {width:100%; display: block; max-width: 100% !important; z-index:9 }

.icons { position:absolute; right:40px; top:40px; height:58px; width:58px; margin-left:0px; z-index:1 }
.icons2 { position:absolute; right:20px; top:16px; height:58px; width:58px; margin-left:0px; z-index:1 }
.email {background:url(../images/icons/bg-email.html) no-repeat; background-size:24px 24px; }
.xing {background:url(../images/icons/bg-xing.png) no-repeat; background-size:24px 24px; }
.google {background:url(../images/icons/bg-googleplus.png) no-repeat; background-size:24px 24px; }
.tweat {background:url(../images/icons/bg-tweat.png) no-repeat; background-size:24px 24px; } 
.twitter {background:url(../images/icons/bg-twitter.png) center no-repeat #fff; background-size:32px 32px; } 
.facebook {background:url(../images/icons/bg-facebook.png) no-repeat; background-size:24px 24px; }
.pinterest {background:url(../images/icons/bg-pinterest.png) no-repeat; background-size:24px 24px; }
.instagram {background:url(../images/icons/bg-instagram.png) no-repeat; background-size:24px 24px; }
.vimeo {background:url(../images/icons/bg-vimeo.png) no-repeat; background-size:24px 24px; }
.skype {background:url(../images/icons/bg-skype.png) no-repeat; background-size:24px 24px; }
.dribble {background:url(../images/icons/bg-dribble.png) no-repeat; background-size:24px 24px; }
.link {background:url(../images/icons/bg-link.png) center no-repeat #fff; background-size:24px 24px; }
.video {background:url(../images/icons/bg-video.png) center no-repeat #fff; background-size:24px 24px; }
.bubble {background:url(../images/icons/bg-bubble.png) center no-repeat #fff; background-size:24px 24px; }
.quote {background:url(../images/icons/bg-heart.png) center no-repeat #fff; background-size:24px 24px; }
.slideshow {background:url(../images/icons/bg-slideshow.png) center no-repeat #fff; background-size:28px 15px; }
.aside {background:url(../images/icons/bg-aside.png) center no-repeat #fff; background-size:23px 23px; }
.close {background:url(../images/icons/bg-close.png) center no-repeat #fff; background-size:18px 18px; }
.award {background:url(../images/icons/bg-award.png) center no-repeat #fff; background-size:22px 24px; }

.images .title, .images .subtitle { z-index:10; position:absolute; top:36px; left:40px; width:auto; font-weight:600; cursor:pointer }
.images .subtitle { top: 63px; left:74px; font-weight: 400; }
.title-wrap, .subtitle-wrap { overflow: hidden; position: relative; }
.title-wrap h3, .subtitle-wrap p { overflow: hidden; white-space: nowrap;/* line-height:32px;*/ text-transform:uppercase; font-family:'Yanone Kaffeesatz', Arial, Helvetica, sans-serif; color:#2b2b2b; padding:0px; }
.title-wrap h3 span, .subtitle-wrap p span { padding:4px 8px 5px 8px; background:#fff; -webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.05); -moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.05) ; box-shadow:0 1px 0 rgba(0, 0, 0, 0.05); font-style:normal; display:inline-block; top:4px; position:relative }
.subtitle-wrap p span {font-size:12px; padding:5px 8px 5px 8px; top:0 }
.title-wrap h3 span.zoom {text-indent:-9999px; display:inline-block; background:url(../images/icons/bg-zoom.png) center no-repeat #fff; background-size:13px 13px; width:30px; height:30px; padding:0; top:0px; position:relative}
.title-wrap h3 span.play {background:url(../images/icons/bg-play.png) center no-repeat #fff; background-size:12px 12px;}
/*.videos {width:100%; height:400px; display:block; z-index:9 }*/
/* End Image Hover
--------------------------------------------------------------------------------------------------------*/


/* =Lists
--------------------------------------------------------------------------------------------------------*/
ul.list { position:relative; font-style:italic; padding:14px 40px 0 40px; }
ul.falist { position:relative; font-style:italic; padding:12px 40px 0 26px; line-height:125%; margin-left:30px;}
ul.list li { line-height:1.5; width:auto; padding-left:20px; background:url(../images/icons/bg-bullet.png) no-repeat 5px 8px; background-size:6px 6px; }
ul.check li { background:url(../images/icons/bg-check.png) no-repeat 1px 13px; background-size:13px 11px; }
/* =End Lists
--------------------------------------------------------------------------------------------------------*/


/* =Footer
--------------------------------------------------------------------------------------------------------*/
footer {height:auto; padding:0px 0 0 0px; margin-top:30px; bottom:0px; position:relative;}
footer p {color:#555;}
footer a {color:#555;}
.footer_container {background:#0b1115; padding-top:14px;}
/* End Footer
--------------------------------------------------------------------------------------------------------*/


/* =Social
--------------------------------------------------------------------------------------------------------*/
ul.social { padding-top:37px; margin-bottom:6px; letter-spacing:0; }
.social li { display:inline-block; margin:0px 6px;}
.social li a { display:block; -webkit-transition: all 0.3s ease 0s; -moz-transition: all 0.3s ease 0s; -o-transition: all 0.3s ease 0s; transition: all 0.3s ease 0s; }
ul.social a {text-indent:-9000px; text-decoration:none; height:24px; width:24px;}
/* End Social
--------------------------------------------------------------------------------------------------------*/


/* =Isotope
--------------------------------------------------------------------------------------------------------*/
.isotope-item { z-index: 2; display:block;}
.isotope-hidden.isotope-item { pointer-events: none; z-index: 1;}
.isotope-none.isotope-item {display:none;}
/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item { -webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; -ms-transition-duration: 0.8s; -o-transition-duration: 0.8s; transition-duration: 0.8s; }
.isotope { -webkit-transition-property: height, width; -moz-transition-property: height, width; -ms-transition-property: height, width; -o-transition-property: height, width; transition-property: height, width; }
.isotope .isotope-item { -webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; -ms-transition-property: -ms-transform, opacity; -o-transition-property: top, left, opacity; transition-property: transform, opacity, box-shadow; }
/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -ms-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; }
/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }

#options { width:auto; height:100px; z-index:300; text-align:center;}
#options ul { margin: 0; list-style: none; display:inline-block; padding-top:38px; float:right; }
#options li { float: left;  }
#options li a { color:#777; font-family: 'Yanone Kaffeesatz', Arial, Helvetica, sans-serif; font-size:20px; font-weight:normal; text-decoration:none; text-transform:uppercase; letter-spacing: 1px; display:inline-block; padding:5px 16px;  margin:0px;}
#options li a:hover { color:#cacaca;}
#options li a.selected { color:#fff;}
/* End Isotope
--------------------------------------------------------------------------------------------------------*/


/* =Backtotop
--------------------------------------------------------------------------------------------------------*/
#backtotop { height:auto; position:fixed; right:30px; bottom:30px; display:none; z-index:30; }
#backtotop ul { padding:15px 0px; }
#backtotop ul li a { background:#fff; display:block; width:50px; height:50px; float:right; right:10px; text-indent:-9000px; -webkit-box-shadow:0 0 12px rgba(0, 0, 0, 0.3); -moz-box-shadow:0 0 12px rgba(0, 0, 0, 0.3); box-shadow:0 0 12px rgba(0, 0, 0, 0.3); -webkit-transition: all; -moz-transition: all; -ms-transition: all; -o-transition: all; transition: all;}
#backtotop ul li a:hover { -webkit-box-shadow:0 0 20px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 0 20px rgba(0, 0, 0, 0.2); box-shadow:0 0 20px rgba(0, 0, 0, 0.2); }
#backtotop img {position:absolute; left:0; right:0; margin:auto; width:24px; margin-top:16px;}
/* End Backtotop
--------------------------------------------------------------------------------------------------------*/

/* =Skill Containers
--------------------------------------------------------------------------------------------------------*/

.skills_container {position: absolute; left: 0; right: 0; margin: auto; margin-top:8px; width:216px; height:144px; padding:0;}
.skills_list {margin-top:158px;}
.skills_list_sum {padding:0 30px 10px 0; font-weight:bold;}
.skills_container img {float:left; width: 54px; height:54px; margin:8px;}

.skills_container_iconsonly {width:86%; overflow:auto; left: 0; right: 0; margin: auto;}
.skills_container_iconsonly img {width:56px; height:56px; float:left; padding:0 4px 0 4px; margin-bottom:8px;}

.skill_container {width:86%; height:44px; margin-left:auto; margin-right:auto;}
.skill_title {font-size:15px; font-weight:bold; margin-bottom:10px;}

.design_info {font-weight:normal;}

.pbar-container {position:relative;	margin-left:50px; height:40px;}

.pbar {	height:40px; margin-bottom:0px;	overflow:hidden; background-color:#f3f3f3; border-radius:0px; -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1); box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.pbar p {font-size:15px; font-style:normal; text-align:center; color:#fff; padding:10px 10px 0 10px;}
.pbar-bar {height:100%; background-image:none;}
.pbar-text {color:white; width:inherit; top:0; bottom:0; padding-top:11px; text-align:center; background:inherit; font-size:16px; position:absolute; opacity:0; -webkit-transition: opacity .4s ease-out; -moz-transition: opacity .4s ease-out; -o-transition: opacity .4s ease-out; -ms-transition: opacity .4s ease-out; transition: opacity .4s ease-out;}
.pbar-text:hover {opacity:1;}
.pbar-logo {width:40px; height:40px; float:left; padding-right:10px;}
.pbar-logo img {height:40px;margin-top:0px; margin-left:auto; margin-right:auto;}

.basic_info_title {font-size:14px; font-weight:normal; padding-top:8px;}
.basic_info_text {font-size:15px; font-weight:bold; padding-top:4px;}

.experience_info_title {font-size:14px; font-weight:normal;}
.experience_info_text {font-size:22px; font-weight:bold; padding-top:4px;}

.lookingforwork {background:#a0ffa0; box-shadow: inset 0px 0px 0px 5px green; -webkit-box-shadow: inset 0px 0px 0px 5px green; -moz-box-shadow: inset 0px 0px 0px 5px green;}
.lookingforwork:hover {box-shadow: inset 0px 0px 0px 5px white;}

.blog_date {font-size:12px; font-weight:bold; padding-top:10px;}
.blog_summary {font-size:14px; font-weight:normal; padding-top:12px;}
.blog_info {width:100%; display:table;}
.blog_info p {float:left; width:120px; padding-right:20px;}
.blog_gra_images {padding:0 40px 20px 40px;}

.game_table {width:100%;}
.game_table td {width:50%;}
.game_table p {padding:14px 20px 0 40px;}

#page-container {position: relative; min-height: 100vh;}
#content-wrap {padding-bottom: 150px;}

#footer {position: absolute; bottom: 0; width: 100%; height: 130px;}

.bar-container {position:relative; margin-left:50px; height:40px;}

.progress {height:20px; margin-bottom:0px; overflow:hidden; background-color:#f5f5f5; border-radius:4px; -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1); box-shadow:inset 0 1px 2px rgba(0,0,0,.1)}
.progress p {padding-top:9px; font-size:15px; font-style:normal; text-align:center; color:#fff;}

.soco {position: absolute; left: 0; right: 0; margin: auto; bottom:25px; width:228px; height:34px;}
.sobu {float:left; width:34px; height:34px;	margin:0px 2px 0px 2px;}
.soim {position:absolute; -webkit-transition: opacity .4s ease-out; -moz-transition: opacity .4s ease-out; -o-transition: opacity .4s ease-out; -ms-transition: opacity .4s ease-out; transition: opacity .4s ease-out; width:34px; height:34px;}
.top:hover{opacity: 0;}

.field {float:left; width:230px; height:30px; padding-bottom:6px;}
.button {width:150px; height:34px; font-size: 18px; font-family: inherit; background:#fff; border: 1px solid #2b2b2b; cursor: pointer; position: relative; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; transition: all 0.5s ease;}
.button i {padding-left:8px;}
.button:hover {background:#2b2b2b; color:#fff;}
.button.disabled, button[disabled] {opacity:0.4;}
.button.disabled, button[disabled]:hover {background:#fff; color:#666;}

.more {position:absolute; bottom:25px; width:300px;}
.resume {position:absolute; bottom:66px; width:300px;}
.more button {margin-left:40px; width:150px; height:34px; font-size:15px;}

.title_button {position:absolute; top:26px; right:40px;}
.title_button button {width: 34px; height:34px;}
.title_button i {margin-top:2px; padding-left:0px;}

.cs-element {position:absolute; display:none;}
.cs-button {padding-bottom:20px; height:34px; width:160px;}
.cs-text {padding:7px 0 0 5px;}
#cs-load {height:40px; width:40px; margin-top:-3px;}

/* =Slides Images
--------------------------------------------------------------------------------------------------------*/
/*.slides_landscape img {width:620px; height:349px;}
.slides_portrait img {width:620px; height:551px;}

@media only screen and (max-width: 767px) {
	.slides_landscape img {width:300px; height:170px;}
	.slides_portrait img {width:300px; height:266px;}
}*/

/* =Design Process Images
--------------------------------------------------------------------------------------------------------*/
/*.dp {overflow:auto; width:620px;}
.dp img {width:540px; float:left; padding:5px 40px 5px 40px;}
.dp p {float:left; padding-top:15px;}

.dp_pb {height:2650px;}

@media only screen and (max-width: 767px) {
	
	.dp {width:260px; overflow:hidden;}
	.dp img {width:220px; height:auto;}
	
	.dp_pb {height:1250px;}
}*/