DirectoryIndex index.html

ErrorDocument 400 /deadlink.html
ErrorDocument 401 /deadlink.html
ErrorDocument 403 /deadlink.html
ErrorDocument 404 /deadlink.html
ErrorDocument 500 /deadlink.html
ErrorDocument 502 /deadlink.html
ErrorDocument 504 /deadlink.html


# disable directory browsing
Options All -Indexes

Header add Access-Control-Allow-Origin *