/* ------------------------------------------------------------- */

/* ---------------------------BRKOR----------------------------- */

/* ------------------------------------------------------------- */







/* -------------------------------------------------------------



Table of content



1. General styling

2. Header

3. Menu

4. Content styling

5. Animated button

6. Footer

7. Progress bar

8. Contact form

9. Animation

10. Media queries



------------------------------------------------------------- */





/* General styling

------------------------------------------------------------- */



body {

    font-family: 'Roboto', sans-serif;

    font-size: 18px;

    font-weight: 300 !important;

    overflow-x: hidden;

    padding-top: 42px;

    margin-right: 30%;

    margin-left: 5%;

    padding-bottom: 100px;

    overflow-y: scroll;

}

/*body.dark-version{background: #eee url("../images/dark-bg.png") no-repeat fixed center center / cover ; color: #fff;}*/

/*body.light-version{background: #f9f9f9 url("../images/light-bg.png") repeat; color: #000;}*/

a, a:hover, a:active, a:focus {

    text-decoration: none;

    outline: none;

    outline-offset: 0;

}

a, a:visited, a:hover, a:active {
  color: inherit;
}

body.dark-version a,body.dark-version a:hover,body.dark-version a:active,body.dark-version a:focus{color: #fff;}

body.light-version a,body.light-version a:hover,body.light-version a:active,body.light-version a:focus{color: #000;}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {

    font-weight: 300;

}

img{
	max-width: 100%;
}

input, textarea {

    font-size: 18px;

    border: 1px solid rgba(0, 0, 0, 0.25);

    background-color: transparent;

    padding: 17px 30px;

    color: #000;

    width: 70%;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

.btn {

    font-weight: 600;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

    -webkit-border-radius: 0;

    -moz-border-radius: 0;

    border-radius: 0;

}



a {

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}





/* Header 

------------------------------------------------------------- */



header {

    margin-bottom: 40px;

}



.mypicture {

    position: fixed;

    top: 0;

    right: 0;

    height: 100vh;

    width: 600px;

}

body.dark-version .mypicture{ background: rgba(0, 0, 0, 0) url("../images/dark-mypicture.png") no-repeat fixed right top / contain; }

/*body.dark-version .mypicture{ background: url(../images/dark-mypicture.png) no-repeat top right;}*/

/*body.light-version .mypicture{ background: url(../images/light-mypicture.png) no-repeat top right;}*/

.mesmall {

	height:128px;
	width:auto;
	margin-left:-50px;

    border-radius: 0%;

    float: left;

    z-index: 1;

    margin-top: 10px;

}

.companylogo {
	height:96px;
	width:128px;

    border-radius: 0%;

    float: left;

    z-index: 1;

    margin-top: 35px;
	margin-right: 30px;
}

.schoollogo {
	height:96px;
	width:96px;

    border-radius: 0%;

    float: left;

    z-index: 1;

    margin-top: 15px;
	margin-right: 30px;
	margin-left: 0px;
	margin-bottom: 25px;
}

.companylogo img {
	
	width:128px;

}

.schoollogo img {
	
	width:96px;
	
}

body.dark-version .mesmall{border: 4px solid rgba(255, 255, 255, 0.1)}

body.light-version .mesmall{border: 0px solid rgba(0, 0, 0, 0.1);}

.myname {

    font-size: 36px;

    font-weight: 300;

    position: relative;

    top: 18px;

    left: 25px;

    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

    padding-bottom: 12px;

    z-index: -1;

}



/* Menu

------------------------------------------------------------- */



.navbar-default {

    background-color: transparent;

    background-image: none;

    border-color: transparent;

    box-shadow: none;

}

/*.navbar.navbar-default{
    float: inherit;
}*/

nav {

    position: relative;

    left: 25px;

    top: 6px;

}


.nav.navbar-nav{
    float: inherit;
}
nav ul {

    list-style-type: none;

}



nav ul li {

    display: inline-block;

    margin-right: 15px;

}



nav ul li a {

    color: rgba(0, 0, 0, 0.3);

    border-top: 1px solid transparent;

    padding-top: 18px;
    font-weight: 300;
    text-shadow: none !important;

}
nav ul li span a{
    display: block;
    padding: 15px;
    line-height: 20px;
}
.light-version nav ul li span a{
    color: rgba(0, 0, 0, 0.3);
    font-weight: 100;
}
.dark-version nav ul li span a{
    color: rgba(255, 255, 255, 0.3);
    font-weight: 100;
}
.light-version nav ul li span a:hover{
    color: #000;
}
.dark-version nav ul li span a{
    color: rgba(255, 255, 255, 0.3);
}
body.dark-version .navbar-default .navbar-nav > li.active{
 	color: #fff;
    border-top: 1px solid #fff;
    font-weight: bold;
}
body.dark-version .navbar-default .navbar-nav > li.active > a{
	background: transparent;
	border: none;
	box-shadow: none;
	color: #fff;
}
body.dark-version .navbar-default .navbar-nav > li > .active {

    color: #fff;

    border-top: 1px solid #fff;

    font-weight: bold;

}
body.dark-version .navbar-default .navbar-nav > li.active {

    color: #fff;

    border-top: 1px solid #fff;

    font-weight: bold;

}
body.dark-version .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}

body.light-version .navbar-default .navbar-nav > li.active{
 	color: #000;
    border-top: 1px solid #000;
    font-weight: bold;
}
body.light-version .navbar-default .navbar-nav > li.active > a{
	background: transparent;
	border: none;
	box-shadow: none;
	color: #000;
}
body.light-version .navbar-default .navbar-nav > li > a:hover{
	color: #fff;
}
body.light-version .navbar-default .navbar-nav > li > .active{

    color: #000;

    border-top: 1px solid #000;

    font-weight: bold;

}
body.light-version .navbar-default .navbar-nav > li > a:hover{
	color: #000;
}
.collapse.in li .active {

    border: 0;

}



body.dark-version .navbar-default .navbar-nav > li > a{color: rgba(255, 255, 255, 0.5);}

body.light-version .navbar-default .navbar-nav > li > a{color: rgba(0, 0, 0, 0.5);}



.navbar-default .navbar-collapse, .navbar-default .navbar-form {

    border-color: transparent;

}



.navbar-toggle {

    position: relative;

    padding: 10px;

    margin-top: 17px;

    margin-right: 30px;

    margin-bottom: 8px;

    background-color: transparent;

    background-image: none;

    border: 1px solid rgb(0, 0, 0);

    border-radius: 4px;

    float: right;

}

.navbar-default .navbar-toggle:focus{
    background: transparent;
}

.dark-version .navbar-default .navbar-toggle {

    border-color: rgba(255, 255, 255, 0.5);

}



.dark-version .navbar-default .navbar-toggle .icon-bar {

    background-color: rgba(255, 255, 255, 0.5);

}
.dark-version .navbar-default .navbar-toggle:hover{
    background: transparent;
    border-color: #fff;
}
.dark-version .navbar-default .navbar-toggle:hover .icon-bar{
    background: #fff;
}
.light-version .navbar-default .navbar-toggle {

    border-color: rgba(0, 0, 0, 0.5);

}



.light-version .navbar-default .navbar-toggle .icon-bar {

    background-color: rgba(0, 0, 0, 0.5);

}
.light-version .navbar-default .navbar-toggle:hover{
    background: transparent;
    border-color: #000;
}
.light-version .navbar-default .navbar-toggle:hover .icon-bar{
    background: #000;
}


.navbar-nav {

    text-align: center;

}

#navbar-collapse > ul > li > .dropdown-menu{
    left: 0px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.dark-version #navbar-collapse > ul > li .dropdown-menu{
    background: #cecece;
    border-radius: 3px;
    border: 1px solid #fff;

}
.light-version #navbar-collapse > ul > li .dropdown-menu{
    background: #fff;
    border-radius: 3px;
    border: 1px solid #000;

}
#navbar-collapse > ul > li.open > a{
    color: #000;
    border-top-color: #000;
    background: transparent;
    box-shadow: none;
}
.dark-version #navbar-collapse > ul > li.open > a{
    color: #fff;
    border-top-color: #fff;
    background: transparent;
    box-shadow: none;
}
#navbar-collapse > ul > li > .dropdown-menu li{
    padding: 0;
    list-style: none;
    width: 100%;
    margin: 0;
}
#navbar-collapse > ul > li > .dropdown-menu li:last-child{
    margin-bottom: 0;
}
#navbar-collapse > ul > li > .dropdown-menu li:hover{
    list-style: none;
}
#navbar-collapse > ul > li > .dropdown-menu li a{
    padding: 10px 15px;
}
.dark-version #navbar-collapse > ul > li > .dropdown-menu li a{
    color: #000;
}
#navbar-collapse > ul > li > .dropdown-menu > li:hover ul.dropdown-menu{
    display: block;
}
#navbar-collapse > ul > li > .dropdown-menu > li ul.dropdown-menu{
    left: 100%;
    top: 0;
    margin: 0;
    padding: 0;
}

/* Content styling

------------------------------------------------------------- */



.wrap {

    padding-left: 140px;

    padding-right: 10%;

}



.content {

    font-size: 24px;

    display: none;

    position: relative;

}

.content h2{
	font-weight: 300;
}

.content.active {

    display: block;

    -webkit-animation: show-up .7s ease;

    -moz-animation: show-up .7s ease;

    -ms-animation: show-up .7s ease;

    animation: show-up .7s ease;

}



h1, .h1 {

    font-size: 60px;

}



h2, .h2 {

    font-size: 36px;

}



.title {

    font-weight: normal;

    margin-bottom: 15px;

    font-size: 30px;

}

.title.title-blog h1{
    font-size: 35px;
    font-weight: normal;
}




.fa-clock,

.fa-briefcase,

.fa-address-book,

.fa-wrench,

.fa-book,

.fa-star,

.fa-envelope,

.fa-globe,

.fa-cog,

.fa-graduation-cap,

.fa-thumbtack,

.fa-paint-brush,

.fa-trophy,

.fa-gamepad

{
	opacity: .3;

    font-size: 15px;

    margin-right: 10px;
}

.titlefa

{
    opacity: .3;

    font-size: 26px;

    margin-right: 17px;
}

.subtitle {

    font-size: 16px;

    margin-bottom: 16px;

    /*font-style: italic;*/
	
	line-height: 1.4;

}

.subsubtitle {

    font-size: 10px;

    font-style: italic;
	
	line-height: 1.3;

}

body.dark-version .subtitle {color: rgba(255, 255, 255, 0.75);}

body.light-version .subtitle {color: rgba(0, 0, 0, 0.75);}

.about h2,

.skills h2,

.games h2,

.gallerypage h2 {

    margin-bottom: -10px;

}



.content ul {

    list-style-type: none;
	
	padding-left: 25px;

    margin-bottom: 40px;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

.content li {
	
	margin-bottom:3px;
	
}


.skills ul {
	
	list-style-type: none;
	
	padding-left: 20px;
	
	margin-bottom: 10px;
	
	-webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;
	
}

body.dark-version .content ul{border-left: 4px solid rgba(255, 255, 255, 0.1) !important;}

body.light-version .content ul{border-left: 4px solid rgba(0, 0, 0, 0.1) !important;}


.gallery {
	
	width:%100;
			
}

.gallery a {
	
	padding:5px;
	float:left;
	
}

.skills ul {

    border: 0;

}

.skill-header {
	margin-top:30px;
	margin-bottom:20px;
}

.smaller {

	line-height: 1.3;

    font-size: 18px;

}

.smaller1 {

	line-height: 1.1;

    font-size: 14px;

}

.miniheader {

	line-height: 3;
	
}

body.dark-version .smaller{color: rgba(255, 255, 255, 0.5);}

body.light-version .smaller{color: rgba(0, 0, 0, 0.7);}

.bigger {

    font-size: 30px;

	line-height: 1.2;
	
}


.bigger2 {

    font-size: 24px;

}


.bigger3 {

    font-size: 20px;

	line-height: 1.5;
	
}


.listcontainer {
	
	min-width:250px;
	
	overflow:hidden;	
	
}

.gamecontainer {
	
	min-width:250px;
	
	min-height:372px;
	
	overflow:hidden;	
	
}

.infocontainer {
	
	max-width:95%;
	
}

.gamepostercontainer img {

	width: 360px;
	
	margin-right:10px;
	
	margin-top: 10px;
	
}

/* Single-----------------------------------------------------*/
.wrap.wrap-blog{
    padding: 0;
}
.wrap.wrap-blog #main-page{
    padding-left: 136px;
}
#single-post{
    padding-left: 136px;
}

#single-post .title span{

    margin-right: 9px;

}

.main-post .category{

    padding-left: 44px;

    color: rgba(0, 0, 0, 0.5);

    text-transform: capitalize;

    margin-bottom: 7px;

}
.dark-version .main-post .category{
    color: rgba(255, 255, 255, 0.5);
}

.main-post .category a{

    color: rgba(0, 0, 0, 0.5);

    margin-left: 5px;

    -webkit-transition: all 0.3 ease 0s;

       -moz-transition: all 0.3 ease 0s;

        -ms-transition: all 0.3 ease 0s;

         -o-transition: all 0.3 ease 0s;

            transition: all 0.3 ease 0s;

}
.dark-version .main-post .category a{
    color: rgba(255, 255, 255, 0.5);
}
.main-post .category a:hover{

    color: #000;

}
.dark-version .main-post .category a:hover{
    color: #fff;
}
.main-post .tag{

    padding-left: 44px;

    color: rgba(0, 0, 0, 0.5);

    text-transform: capitalize;

    margin-bottom: 7px;

}
.dark-version .main-post .tag{
    color: rgba(255, 255, 255, 0.5);
}
.main-post .tag a{

    color: rgba(0, 0, 0, 0.5);

    margin-left: 5px;

    -webkit-transition: all 0.3 ease 0s;

       -moz-transition: all 0.3 ease 0s;

        -ms-transition: all 0.3 ease 0s;

         -o-transition: all 0.3 ease 0s;

            transition: all 0.3 ease 0s;

}
.dark-version .main-post .tag a{
    color: rgba(255,255,255,0.5);
}

.main-post .tag a:hover{

    color: #000;

}
.dark-version .main-post .tag a:hover{
    color: #fff;
}
.main-post .post-meta{

    padding-left: 44px;

    margin-bottom: 20px;

    color: rgba(0, 0, 0, 0.5);

}
.dark-version .main-post .post-meta{
    color: rgba(255,255,255,0.5);
}
.main-post .post-format{

    padding-left: 44px;

    margin-bottom: 20px;

}

.main-post .desc{

    padding-left: 44px;

    color: rgba(0, 0, 0, 0.5);

    font-size: 16px;

}
.dark-version .main-post .desc{
    color: rgba(255,255,255,0.5);
}
/* Blog-list--------------------------------------------------*/

#blog-list{

    list-style: none;
    padding: 0 0 0 136px;

}
#blog-list ul{
    list-style: none;
    padding: 0;
}
#blog-list li{

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    padding: 20px 0;

}

#blog-list .title span{

    margin-right: 9px;

}

/* Comment----------------------------------------------------*/

#comment{

    padding-left: 136px;

    padding-right: 10%;

}

#comment .title{

    margin-top: 40px;
    font-weight: normal;

}

#comment .title span{

    margin-right: 19px;

}

.comment-list{

    padding-left: 44px;

}
.comment-list .children{
    padding-left: 72px;
}
.comment-list .comment{

    padding: 20px 0;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

/*.comment-list > .comment:first-child{

    padding-top: 0;

}*/

.comment-list .comment .comment-author{

    float: left;

    margin-right: 20px;

}

.comment-list .comment .comment-body{

    display: block;

}

.comment-list .comment .comment-body .fn{

    display: block;

    margin: 0px 0 12px 0;

}

.comment-list .comment .comment-body .fn a{

    font-weight: normal;

    text-transform: uppercase;
    font-style: normal;
}

.comment-list .comment .comment-body .comment-date{

    font-weight: normal;

    color: rgba(0, 0, 0, 0.5);

}
.dark-version .comment-list .comment .comment-body .comment-date{
	color: rgba(255, 255, 255, 0.5);
}
.comment-list .comment .comment-body .edit-comment{
    display: inline-block;
    margin: 0;
}
.comment-list .comment .comment-body .comment-reply-link,

.comment-list .comment .comment-body .edit-comment a{

    background-color: rgba(0, 0, 0, 0.25);

    border-bottom: 0 none;

    border-radius: 3px;

    color: #fff;

    cursor: pointer;

    font-size: 12px;

    padding: 3px 10px;

    margin-left: 12px;

    -webkit-transition: all 0.3s ease 0s;

       -moz-transition: all 0.3s ease 0s;

        -ms-transition: all 0.3s ease 0s;

         -o-transition: all 0.3s ease 0s;

            transition: all 0.3s ease 0s;

}
.dark-version .comment-list .comment .comment-body .comment-reply-link,

.dark-version .comment-list .comment .comment-body .edit-comment a{
	background: rgba(255,255,255,0.25);
	color: #000;
}
.comment-list .comment .comment-body .comment-reply-link:hover,

.comment-list .comment .comment-body .edit-comment a:hover{

    color: #000;

}
.dark-version .comment-list .comment .comment-body .comment-reply-link:hover,

.dark-version .comment-list .comment .comment-body .edit-comment a:hover{

    color: #fff;

}
.comment-list .comment .comment-body p{

    margin-top: 20px;

    padding: 0;

    font-size: 16px;

    color: rgba(0, 0, 0, 0.5);

}
.dark-version .comment-list .comment .comment-body p{
	color: rgba(255,255,255,0.5);
}
.commnet-form{

    margin-top: 40px;

}

.commnet-form form{

    padding-left: 44px;

}

/* Page-404----------------------------------------------*/

.main-page-404{

    padding: 90px 0;

    display: block;

}

.main-page-404 h1 strong{

    font-size: 180px;

    font-weight: 700;

    letter-spacing: 16px;

    display: block;

}

.main-page-404 p{

    font-size: 22px;

    letter-spacing: 11px;

    display: block;

    margin: 15px 0;

}

.main-page-404 a{

    font-size: 13px;

    background-color: rgba(0, 0, 0, 0.25);

    border-bottom: 0 none;

    border-radius: 3px;

    color: #fff;

    font-size: 12px;

    padding: 10px;

    text-transform: uppercase;

    display: inline-block;

    -webkit-transition: all 0.4s ease 0s;

       -moz-transition: all 0.4s ease 0s;

        -ms-transition: all 0.4s ease 0s;

         -o-transition: all 0.4s ease 0s;

            transition: all 0.4s ease 0s;

}

.main-page-404 a i{

    margin-right: 5px;



}

.main-page-404 a:hover{

    color: #000;

}
/* Widget-----------------------------------------------------*/
.widget-content {
    float: left;
    width: 100%;
}
.widget-content h3{
    font-weight: normal;
    font-size: 30px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.dark-version .widget-content h3{
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
}
.dark-version .widget-content label{
	color: rgba(255, 255, 255, 0.5);
	width: 100%;
}
.light-version .widget-content label{
	color: rgba(0, 0, 0, 0.5);
}
.dark-version .widget-content select{
	color: #000;
	padding: 0 10px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    background: transparent;
}
.light-version .widget-content select{
	color: #000;
	padding: 0 10px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
    color: #000;
    background: transparent;
}
.widget-content select option{
	padding: 6px 10px;
	color: #000;
}
.widget-content ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-content ul.children{
	padding-left: 25px;
}
.widget-content ul.children li:last-child{
    padding-bottom: 0;
}
.widget-content .sub-menu{
	padding-left: 20px;
}
.widget-content ul li{
    padding: 7px 0;
}
.dark-version .widget-content input[type="text"]{
	padding: 6px 10px;
	width: 100%;
	border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    background: transparent;
}
.dark-version .widget-content input[type="text"]:hover,
.dark-version .widget-content input[type="text"]:focus{
	border-color: #fff;
}
.light-version .widget-content input[type="text"]{
	padding: 6px 10px;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.25);
    color: #000;
    background: transparent;
}
.light-version .widget-content input[type="text"]:hover,
.light-version .widget-content input[type="text"]:focus{
	border-color: #000;
}
.widget-content input[type="submit"]{
	display: none;
}
.dark-version .widget-content ul li{
	color: rgba(255, 255, 255, 0.5);
}
.light-version .widget-content ul li{
	color: rgba(0, 0, 0, 0.5);
}
.dark-version .widget-content ul li a{
	color: rgba(255, 255, 255, 0.5);
}
.light-version .widget-content ul li a{
	color: rgba(0, 0, 0, 0.5);
}
.dark-version .widget-content ul li a:hover{
	color: #fff;
}
.light-version .widget-content ul li a:hover{
	color: #000;
}
.widget-content.widget_calendar table caption{
	margin:  0 0 10px 0;
	padding: 0;
}
.light-version .widget-content.widget_calendar table{
	color: rgba(0, 0, 0, 0.5);
}
.dark-version .widget-content.widget_calendar table{
	color: rgba(255, 255, 255, 0.5);
}
.dark-version .widget-content.widget_calendar table a{
	color: #fff;
}
.light-version .widget-content.widget_calendar table a{
	color: #000;
}
.widget-content.widget_rss ul li a{
	font-weight: 700;
}
.widget-content.widget_rss .rss-date{
	position: relative;
	padding-left: 10px;
}
.widget-content.widget_rss .rss-date:after{
	content: "-";
	position: absolute;
	left: 0;
	top: 0;
	font-weight: bold;
}
.widget-content.widget_tag_cloud a{
	display: inline-block;
	padding: 6px 10px;
	margin-right: 5px;
	margin-bottom: 8px;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease-in-out 0s;
       -moz-transition: all 0.3s ease-in-out 0s;
        -ms-transition: all 0.3s ease-in-out 0s;
         -o-transition: all 0.3s ease-in-out 0s;
            transition: all 0.3s ease-in-out 0s;
}
.dark-version .widget-content.widget_tag_cloud a{
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.dark-version .widget-content.widget_tag_cloud a{
    color: rgba(255, 255, 255, 0.5);
}
.dark-version .widget-content.widget_tag_cloud a:hover{
    color: #fff;
    border-color: #fff;
}
.light-version .widget-content.widget_tag_cloud a{
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.light-version .widget-content.widget_tag_cloud a{
    color: rgba(0, 0, 0, 0.5)
}
.light-version .widget-content.widget_tag_cloud a:hover{
    color: #000;
    border-color: #000;
}

/* Paging-----------------------------------------------------*/
.pagination{
    float: left;
    width: 100%;
    text-align: center;
}
.pagination ul{
    list-style: none;
    display: inline-block;

    margin: 0;
}
.pagination ul li{
    list-style: none;
    float: left;
    padding: 0;
}
.pagination ul li:hover{
    list-style: none;
}
.pagination ul li:last-child{
    margin-bottom: 0;
}
.pagination ul li a{
    padding: 6px 12px;
    display: block;
    border-radius: 3px;
    margin-right: 5px;
    -webkit-transition: 0.3s ease-in-out 0s;
       -moz-transition: 0.3s ease-in-out 0s;
        -ms-transition: 0.3s ease-in-out 0s;
         -o-transition: 0.3s ease-in-out 0s;
            transition: 0.3s ease-in-out 0s;
}
.light-version .pagination ul li a{
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    color: #fff;
}
.light-version .pagination ul li a:hover,
.light-version .pagination ul li.pagi-active a{
    border-color: transparent;
    color: #fff;
    background: #000;
}
.dark-version .pagination ul li a{
    background: rgba(255, 255, 255, 0.25);
    border-color: rgba(255, 255, 255, 0.1);
    color: #000;
}
.dark-version .pagination ul li a:hover,
.dark-version .pagination ul li.pagi-active a{
    border-color: transparent;
    color: #000;
    background: #fff;
}
/* Page-link--------------------------------------------------*/
.page-links{
    padding-bottom: 20px;
    padding-top: 20px;
}
.page-links a{
    border-bottom: 0;
}
.page-links a span{
    display: inline-block;
    margin: 0 2px;
    text-align: center;
    padding: 6px 12px;
    background: rgba(0, 0, 0, 0.25) none repeat scroll 0 0;
    color: #fff;
    font-weight: normal;
    border-radius: 3px;
}
.dark-version .page-links a span{
    background:  rgba(255,255,255,0.25);
    color: #fff;
}
.dark-version .page-links a:hover{
    border-bottom: transparent;
}
.page-links span{
    display: inline-block;
    margin: 0 2px;
    text-align: center;
    padding: 6px 12px;
    font-weight: normal;
    border-radius: 3px;
}
.page-links > span:first-child{
    background: transparent;
    color: #4c4c4c;
    height: inherit;
    width: inherit;
}
.dark-version .page-links > span:first-child{
    background: transparent;
    color: #fff;
}
.page-links span,.page-links a span:hover{
    color: #fff;
    background: #000;
    border-bottom-color: transparent;
}
.dark-version .page-links span,.page-links a span:hover{
    background: #000;
    color: #fff;
    border-bottom-color: transparent;
}

.dark-version .main-post .desc form input[type="password"]{
	padding: 6px 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    background: transparent;
}
.dark-version .main-post .desc form > p > input[type="password"]:hover,
.dark-version .main-post .desc form > p > input[type="password"]:focus{
	border-color: #fff;
}
.light-version .main-post .desc form input[type="password"]{
	padding: 6px 10px;
	border: 1px solid rgba(0, 0, 0, 0.25);
    color: #000;
    background: transparent;
}
.light-version .main-post .desc form > p > input[type="password"]:hover,
.light-version .main-post .desc form > p > input[type="password"]:focus{
	border-color: #000;
}
.light-version .main-post .desc form > p > input[type="submit"]{
	padding: 6px 10px;
	border: 1px solid rgba(0, 0, 0, 0.25);
    color: #000;
    background: transparent;
    width: auto !important;
}
.dark-version .main-post .desc form > p > input[type="submit"]{
	padding: 6px 10px;
	border: 1px solid rgba(255, 255, 255, 0.25);
    color: #fff;
    background: transparent;
    width: auto !important;
}


/* Animated button

------------------------------------------------------------- */



.btn {

    font-size: 18px;

    border: none;

    font-family: inherit;

    color: inherit;

    background: none;

    cursor: pointer;

    padding: 17px 54px;

    display: inline-block;

    font-weight: 300;

    outline: none;

    position: relative;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

.btn-s {
	
	padding: 17px 84px;
	
}



.btn:after {

    content: '';

    position: absolute;

    z-index: -1;

    -webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}



body.dark-version .btn-1 {

    border: 1px solid #fff;

    color: #fff;

}

body.light-version .btn-1 {

    border: 1px solid #000;

    color: #000;

}



/* Button 1c */

.btn-1c:after {
	position: absolute;
    width: 0%;

    height: 100%;

    top: 0;

    left: 0;

}

body.dark-version .btn-1c:after{background: #fff;}

body.light-version .btn-1c:after{background: #000;}

body.dark-version .btn-1c:hover,

body.dark-version .btn-1c:active {

    color: #000;

}
body.light-version .btn-1c:hover,

body.light-version .btn-1c:active {

    color: #fff;

}



.btn-1c:hover:after,

.btn-1c:active:after {

    width: 100%;

}



.margin-top {

    margin-top: 20px;

}


/* In-Site-Link

------------------------------------------------------------- */

.in-site-link {
	
	display:inline-block;
	
}



/* Footer

------------------------------------------------------------- */

.wrap.wrap-blog footer{
    padding-left: 140px;
}

footer {

    margin-top: 72px;

}


.topbar{
	
	height:65px;
	
}


.socbar-container {
	
	width:100%;
	
	overflow:visible;
	
	height:45px;
	
	float:left;
		
}

.socbar{
	
	height:45px;
}


@media (max-width:768px){
	.socbar{
		
		width:282px;
		
		height:45px;
		
		margin-left:auto;
		
		margin-right:auto;

	}
	
	input, textarea {

		width: 95%;

	}
	
	/*.work ul:hover {

    padding-left: 25px;

	}
	
	.skills ul:hover {

    padding-left: 20px;

	}
	
	.contact ul:hover {

    padding-left: 25px;

	}
	
	.education ul:hover {

    padding-left: 25px;

	}
	
	.mygames ul:hover {

    padding-left: 25px;

	}*/

}

@media (max-width:600px){
	.companylogo{
		
		width:100%;
		
		margin-left:0px;
		
		margin-right:0px;
		
		margin-top:20px;
		
		margin-bottom:10px;
		
	}
	
	.schoollogo{
		
		width:100%;
		
		margin-left:0px;
		
		margin-right:0px;
		
		margin-top:20px;
		
		margin-bottom:20px;
		
	}
}


.socbut {
	
	float:left;
	
	width:40px;
	
	height:40px;
	
	margin-right:6px;
}


.copyrightthing {
	
	margin-top:50px;
		
	float:left;
}


.soc
{
	position:absolute;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out; 
    transition: opacity .5s ease-in-out;
	width:40px;
	height:40px;
}


.top:hover
{
    opacity: 0;
}


/* Progress bar

------------------------------------------------------------- */



.progress ul,

.progress ul:hover {

    border: 0;

}



.progress {
	
    background-image: none;

    height: 40px;
	
	width:100%;

    border-radius: 0;
	
	float:left;
	
	-webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}

.progress p {
	
	margin-top:10px;
	
	font-size:18px;
	
}

body.dark-version .progress{background-color: rgba(255, 255, 255, 0.1);}

body.light-version .progress{background-color: rgba(0, 0, 0, 0.1);}


.bar-text {
	
	font-size:20px;
	
	float:left;
	
	overflow: hidden;
	
	width:0px;
	
	height:30px;
	
	-webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;
	
}

/*.skills ul:hover .bar-text {
	
    width:120px;
	
	-webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;

}*/


.skill-container {
	
	width:100%;
	
	height:40px;
	
	margin-left:auto;
	
	margin-right:auto;
	
}

.bar-container {
	
	position:relative;
	
	margin-left:70px;
	
	height:40px;
	
	-webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;
	
}

/*.skills ul:hover .bar-container {
	
	margin-left:210px;
	
	-webkit-transition: all 0.3s ease;

    -moz-transition: all 0.3s ease;

    transition: all 0.3s ease;
}*/

.bar-logo {
	
	width:70px;
	
	height:40px;
	
	float:left;
	
}

.bar-logo img {
	
	height:40px;
		
	margin-top:0px;
	
	margin-left:auto;
	
	margin-right:auto;
		
}

.bar-game {
	
	width:300px;
	
	height:372px;
	
	float:left;
	
	margin-right:20px;
	
}

.bar-game img {
	
	height:290px;
			
	margin-left:auto;
	
	margin-right:auto;
		
}

.progress-bar {

    background-image: none;

}



.bar-unity {
    background-color: #1C1C1C;
    width: 95%;
    -webkit-animation: show-bar-unity .9s ease;
    -moz-animation: show-bar-unity .9s ease;
    -ms-animation: show-bar-unity .9s ease;
    animation: show-bar-unity .9s ease;
}

.bar-unreal {
    background-color: #464646;
    width: 70%;
    -webkit-animation: show-bar-unreal .9s ease;
    -moz-animation: show-bar-unreal .9s ease;
    -ms-animation: show-bar-unreal .9s ease;
    animation: show-bar-unreal .9s ease;
}

.bar-visualstudio {
    background-color: #682279;
    width: 75%;
    -webkit-animation: show-bar-visualstudio .9s ease;
    -moz-animation: show-bar-visualstudio .9s ease;
    -ms-animation: show-bar-visualstudio .9s ease;
    animation: show-bar-visualstudio .9s ease;
}

.bar-illustrator {
    background-color: #ea7c10;
    width: 90%;
    -webkit-animation: show-bar-illustrator .9s ease;
    -moz-animation: show-bar-illustrator .9s ease;
    -ms-animation: show-bar-illustrator .9s ease;
    animation: show-bar-illustrator .9s ease;
}

.bar-photoshop {
    background-color: #16b4c9;
    width: 85%;
    -webkit-animation: show-bar-photoshop .9s ease;
    -moz-animation: show-bar-photoshop .9s ease;
    -ms-animation: show-bar-photoshop .9s ease;
    animation: show-bar-photoshop .9s ease;
}

.bar-xd {
    background-color: #ce4391;
    width: 80%;
    -webkit-animation: show-bar-xd .9s ease;
    -moz-animation: show-bar-xd .9s ease;
    -ms-animation: show-bar-xd .9s ease;
    animation: show-bar-xd .9s ease;
}

.bar-aftereffects {
    background-color: #9256b2;
    width: 70%;
    -webkit-animation: show-bar-aftereffects .9s ease;
    -moz-animation: show-bar-aftereffects .9s ease;
    -ms-animation: show-bar-aftereffects .9s ease;
    animation: show-bar-aftereffects .9s ease;
}

.bar-audition {
    background-color: #0db381;
    width: 70%;
    -webkit-animation: show-bar-audition .9s ease;
    -moz-animation: show-bar-audition .9s ease;
    -ms-animation: show-bar-audition .9s ease;
    animation: show-bar-audition .9s ease;
}

.bar-indesign {
    background-color: #cf3f7c;
    width: 60%;
    -webkit-animation: show-bar-indesign .9s ease;
    -moz-animation: show-bar-indesign .9s ease;
    -ms-animation: show-bar-indesign .9s ease;
    animation: show-bar-indesign .9s ease;
}

.bar-dreamweaver {
    background-color: #51d326;
    width: 65%;
    -webkit-animation: show-bar-dreamweaver .9s ease;
    -moz-animation: show-bar-dreamweaver .9s ease;
    -ms-animation: show-bar-dreamweaver .9s ease;
    animation: show-bar-dreamweaver .9s ease;
}

.bar-premiere {
    background-color: #b05bb9;
    width: 60%;
    -webkit-animation: show-bar-premiere .9s ease;
    -moz-animation: show-bar-premiere .9s ease;
    -ms-animation: show-bar-premiere .9s ease;
    animation: show-bar-premiere .9s ease;
}

.bar-office {
    background-color: #da3b00;
    width: 75%;
    -webkit-animation: show-bar-office .9s ease;
    -moz-animation: show-bar-office .9s ease;
    -ms-animation: show-bar-office .9s ease;
    animation: show-bar-office .9s ease;
}

.bar-git {
    background-color: #f05030;
    width: 70%;
    -webkit-animation: show-bar-git .9s ease;
    -moz-animation: show-bar-git .9s ease;
    -ms-animation: show-bar-git .9s ease;
    animation: show-bar-git .9s ease;
}

.bar-3dsmax {
    background-color: #008684;
    width: 50%;
    -webkit-animation: show-bar-3dsmax .9s ease;
    -moz-animation: show-bar-3dsmax .9s ease;
    -ms-animation: show-bar-3dsmax .9s ease;
    animation: show-bar-3dsmax .9s ease;
}

.bar-maya {
    background-color: #359f9d;
    width: 35%;
    -webkit-animation: show-bar-maya .9s ease;
    -moz-animation: show-bar-maya .9s ease;
    -ms-animation: show-bar-maya .9s ease;
    animation: show-bar-maya .9s ease;
}

.bar-corel {
    background-color: #26c54a;
    width: 30%;
    -webkit-animation: show-bar-corel .9s ease;
    -moz-animation: show-bar-corel .9s ease;
    -ms-animation: show-bar-corel .9s ease;
    animation: show-bar-corel .9s ease;
}

@keyframes show-bar-unity {from {width:0;} to {width:95%;}}
@keyframes show-bar-unreal {from {width:0;} to {width:70%;}}
@keyframes show-bar-visualstudio {from {width:0;} to {width:75%;}}
@keyframes show-bar-illustrator {from {width:0;} to {width:90%;}}
@keyframes show-bar-photoshop {from {width:0;} to {width:85%;}}
@keyframes show-bar-xd {from {width:0;} to {width:80%;}}
@keyframes show-bar-aftereffects {from {width:0;} to {width:70%;}}
@keyframes show-bar-audition {from {width:0;} to {width:70%;}}
@keyframes show-bar-indesign {from {width:0;} to {width:60%;}}
@keyframes show-bar-dreamweaver {from {width:0;} to {width:65%;}}
@keyframes show-bar-premiere {from {width:0;} to {width:60%;}}
@keyframes show-bar-office {from {width:0;} to {width:75%;}}
@keyframes show-bar-git {from {width:0;} to {width:70%;}}
@keyframes show-bar-3dsmax {from {width:0;} to {width:50%;}}
@keyframes show-bar-maya {from {width:0;} to {width:35%;}}
@keyframes show-bar-corel {from {width:0;} to {width:30%;}}


.bar-csharp {
    background-color: #9a4993;
    width: 80%;
    -webkit-animation: show-bar-csharp .9s ease;
    -moz-animation: show-bar-csharp .9s ease;
    -ms-animation: show-bar-csharp .9s ease;
    animation: show-bar-csharp .9s ease;
}

.bar-htmlcss {
    background-color: #f16529;
    width: 70%;
    -webkit-animation: show-bar-htmlcss .9s ease;
    -moz-animation: show-bar-htmlcss .9s ease;
    -ms-animation: show-bar-htmlcss .9s ease;
    animation: show-bar-htmlcss .9s ease;
}

.bar-javascript {
    background-color: #fb9d20;
    width: 35%;
    -webkit-animation: show-bar-javascript .9s ease;
    -moz-animation: show-bar-javascript .9s ease;
    -ms-animation: show-bar-javascript .9s ease;
    animation: show-bar-javascript .9s ease;
}

.bar-cplusplus {
    background-color: #00599c;
    width: 30%;
    -webkit-animation: show-bar-cplusplus .9s ease;
    -moz-animation: show-bar-cplusplus .9s ease;
    -ms-animation: show-bar-cplusplus .9s ease;
    animation: show-bar-cplusplus .9s ease;
}

.bar-php {
    background-color: #8f9ed1;
    width: 25%;
    -webkit-animation: show-bar-php .9s ease;
    -moz-animation: show-bar-php .9s ease;
    -ms-animation: show-bar-php .9s ease;
    animation: show-bar-php .9s ease;
}

@keyframes show-bar-csharp {from {width:0;} to {width:80%;}}
@keyframes show-bar-htmlcss {from {width:0;} to {width:70%;}}
@keyframes show-bar-javascript {from {width:0;} to {width:35%;}}
@keyframes show-bar-cplusplus {from {width:0;} to {width:30%;}}
@keyframes show-bar-php {from {width:0;} to {width:25%;}}


.bar-windows {
    background-color: #0078d4;
    width: 95%;
    -webkit-animation: show-bar-windows .9s ease;
    -moz-animation: show-bar-windows .9s ease;
    -ms-animation: show-bar-windows .9s ease;
    animation: show-bar-windows .9s ease;
}

.bar-macosx {
    background-color: #2f7f6c;
    width: 80%;
    -webkit-animation: show-bar-macosx .9s ease;
    -moz-animation: show-bar-macosx .9s ease;
    -ms-animation: show-bar-macosx .9s ease;
    animation: show-bar-macosx .9s ease;
}

.bar-ubuntu {
    background-color: #ff7510;
    width: 75%;
    -webkit-animation: show-bar-ubuntu .9s ease;
    -moz-animation: show-bar-ubuntu .9s ease;
    -ms-animation: show-bar-ubuntu .9s ease;
    animation: show-bar-ubuntu .9s ease;
}

@keyframes show-bar-windows {from {width:0;} to {width:95%;}}
@keyframes show-bar-macosx {from {width:0;} to {width:80%;}}
@keyframes show-bar-ubuntu {from {width:0;} to {width:75%;}}

.bar-1 {

    background-color: #2877d0;

    background-image: none;

    width: 80%;

    -webkit-animation: show-bar-1 .7s ease;

    -moz-animation: show-bar-1 .7s ease;

    -ms-animation: show-bar-1 .7s ease;

    animation: show-bar-1 .7s ease;

}



.bar-2 {

    background-color: #cf2c2c;

    background-image: none;

    width: 70%;

    -webkit-animation: show-bar-2 1s ease;

    -moz-animation: show-bar-2 1s ease;

    -ms-animation: show-bar-2 1s ease;

    animation: show-bar-2 1s ease;

}



/* Contact form

------------------------------------------------------------- */



#ajax-contact {

    margin-top: 0px;

}





body.dark-version input, body.dark-version textarea{border: 1px solid rgba(255, 255, 255, 0.25); color: #fff;}

body.light-version input, body.light-version textarea{border: 1px solid rgba(0, 0, 0, 0.25); color: #000;}

body.dark-version input:focus, body.dark-version textarea:focus {

    border: 1px solid #fff;

}

body.light-version input:focus, body.light-version textarea:focus {

    border: 1px solid #000;

}



.field {

    margin-bottom: 20px;

}



.send {

    font-size: 18px;

    text-transform: uppercase;

    width: 69%;

}



.success {

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    color: #468847;

    background-color: #dff0d8;

    border: 1px solid #d6e9c6;

    border-radius: 0px;

    margin-bottom: 45px;

    margin-top: -25px;

    width: 69%;

    padding: 17px 30px;

    font-size: 18px;

}



.error {

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    color: #b94a48;

    background-color: #f2dede;

    border: 1px solid rgba(185, 74, 72, 0.3);

    border-radius: 0px;

    margin-bottom: 45px;

    margin-top: -25px;

    width: 69%;

    padding: 17px 30px;

    font-size: 18px;

}

/* Page-404---------------------------------------------------*/
.error_pagenotfound{

    padding: 20px 0 40px 0;

    display: block;
    text-align: center;

}

.error_pagenotfound strong{

    font-size: 140px;

    font-weight: 700;

    letter-spacing: 16px;

    display: block;
    line-height: 1;

}
.error_pagenotfound b,
.error_pagenotfound em{
    display: inline-block;
}

.error_pagenotfound p{

    font-size: 22px;

    display: block;

    margin: 15px 0;

}

.error_pagenotfound a.but_goback{

    font-size: 13px;

    background-color: rgba(0, 0, 0, 0.25);

    border-bottom: 0 none;

    border-radius: 3px;

    color: #fff;

    font-size: 12px;

    padding: 10px;

    text-transform: uppercase;

    display: inline-block;

    -webkit-transition: all 0.4s ease 0s;

       -moz-transition: all 0.4s ease 0s;

        -ms-transition: all 0.4s ease 0s;

         -o-transition: all 0.4s ease 0s;

            transition: all 0.4s ease 0s;

}
.dark-version .error_pagenotfound a.but_goback{
    background-color: rgba(255, 255, 255, 0.25);
    color: #000;
}
.error_pagenotfound a i{

    margin-right: 5px;



}

.error_pagenotfound a.but_goback:hover{

    color: #000;

}
.dark-version .error_pagenotfound a.but_goback:hover{
    color: #fff;
}

/* Animation

------------------------------------------------------------- */



@keyframes show-up {

from {

    opacity:0;

    transform:translateX(-1.5em);

}

to {

    opacity:1;

    transform:translateX(0);

}}







@keyframes show-bar-1 {

from {

    width:0;

}

to {

    width:80%;

}}



@keyframes show-bar-2 {

from {

    width:0;

}

to {

    width:70%;

}}



/* Max width 1

------------------------------------------------------------- */



@media screen and (max-width: 1600px){

    body{
        margin: 0;
    }
    .wrap.wrap-blog > #main-page{
        padding: 0;
    }

    .mypicture {

        display: none;

    }

    .myname{
        left: 0;
    }

    header {

        text-align: center;

    }

    

    .mesmall {

        float: none;

    }

    

    .myname {

        padding-bottom: 30px;

    }

    .wrap.wrap-blog #blog-list{
        padding: 0;
    }
    #single-post{
        padding: 0;
    }
}



/* Max width 2

------------------------------------------------------------- */


@media screen and (max-width: 1280px){
	.wrap {

        padding-left: 10%;
		
		padding-right: 10%;

    }
	
	
    body {

        padding-top: 20px;

    }
}

/* Max width 3

------------------------------------------------------------- */


@media (max-width: 1001px){
    nav{
        left: 0;
        padding: 0 15px;
    }
    nav ul li{
        margin-right: 0;
    }
}